-r requirements.txt
nox==2026.4.10
mock==5.2.0
parameterized==0.9.0
pytest==8.3.0; python_version < "3.10"
pytest==9.0.3; python_version >= "3.10"
coverage==7.10.0; python_version < "3.10"
coverage==7.14.0; python_version >= "3.10"
mypy==1.14.0; python_version < "3.10"
mypy==2.1.0; python_version >= "3.10"
types-requests==2.32.4.20250913; python_version < "3.10"
types-requests==2.33.0.20260518; python_version >= "3.10"
types-pytz==2025.2.0.20251108; python_version < "3.10"
types-pytz==2026.2.0.20260506; python_version >= "3.10"
